* {box-sizing: border-box;}

body {
    max-width: 1100px;
    margin: auto;
}

h1, h2, h3, p {margin: 0;}

h2 {color: #222;}
h3 {color: #444;}
p  {color: #222;}
.main-footer p {color: #fff;}

p {text-indent: 1.5em;}

body {font-family: 'Pontano Sans', sans-serif;}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 500%;
    color: #FFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
    text-align: center;
}

.main-header {
    padding: 5px; /* Needed to stop collapse */
    background: url('../img/title.jpg') no-repeat center;
    background-size: cover;
}

.main-footer {
    padding: 5px; /* Needed to stop collapse */
    background: url('../img/title.jpg') no-repeat center;
    background-size: cover;
}

.thanks {
    font-family: 'Dancing Script', cursive;
    text-align: right;
    font-size: 1.5em;
}

.box {
    width: 100%;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.box img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.box img, .box h2 {
    padding-bottom: 10px;
}


img[src="img/icon/google.png"] {
    width: 1em;
    height: 1em;
    padding: 0;
    margin: 0;
}


/*****************************
    MEDIA QUERIEAS
*****************************/

