* {box-sizing: border-box;}

body {
    max-width: 450px;
    margin: auto;
    padding: 10px;
}

h1, h2, h3, p, img {margin: 0; padding: 0;}

h2 {color: #222;}
h3 {color: #444;}
p  {color: #222;}
.main-footer p {color: #fff;}

p {text-indent: 1.5em;}

body {font-family: 'Pontano Sans', sans-serif;}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 300%;
    color: #FFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
    text-align: center;
}

.main-header {
    padding: 5px; /* Needed to stop collapse */
    background: url('../img/title.jpg') no-repeat center;
    background-size: cover;
}

.main-footer {
    padding: 5px; /* Needed to stop collapse */
    background: url('../img/title.jpg') no-repeat center;
    background-size: cover;
}

.thanks {
    font-family: 'Dancing Script', cursive;
    text-align: right;
    font-size: 1.5em;
}

.photo {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0.5em 0em;
}

.article {
    padding: 0.5em 0em;
    border-top: 1px solid #ddd;
}


img[src="img/icon/google.png"] {
    width: 1em;
    height: 1em;
    padding: 0;
    margin: 0;
}

img[src="img/icon/down.png"], img[src="img/icon/up.png"] {
    display: block;
    width: 15%;
    padding: 0.5em;
    margin: auto;
}

/*****************************
    MEDIA QUERIEAS
*****************************/

